@{
    ViewBag.Title = "Yönetici Paneli";
}

<h2>Yönetici Paneli</h2>

<ul>
    <li><a href="/Yonetim/UrunListele">Ürünleri Yönet</a></li>
    <li><a href="/Yonetim/KategoriListele">Kategorileri Yönet</a></li>
    <li><a href="/Yonetim/TumSiparisler">Tüm Siparişleri Gör</a></li>
</ul>
